<a href="https://colab.research.google.com/github/Anwesha-patra/PYTHON-/blob/main/PYTHON_PROGRAMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 PROGRAM 1
 EVEN OR ODD NUMBER

In [1]:
n=int(input())
if n%2==0:
  print(n,"is even")
else:
  print(n,"is odd")

51
51 is odd

PROGRAM 2  FACTORIAL

In [3]:
fact = 1
n=int(input())
for i in range(1,n+1):
  fact = fact * i
print(fact)

5
120

PROGRAM 3 FACTORIAL USING FUNCTION

In [4]:
def fact(n):
  if n<=1:
    return 1
  else:
    n = n*fact(n-1)
    return n
n = int(input())
print("Factorial of n is",fact(n))

5
Factorial of n is 120

PROGRAM 4 PRIME NUMBER(LOGIC 1)

In [5]:
n = int(input())
count = 0
for i in range (1,n+1):
  if n%i == 0:
    count+= 1
if count == 2:
  print("{} is prime".format(n))
else:
  print("{} is prime".format(n))

13
13 is prime

PROGRAM 5 PRIME NUMBER(LOGIC 2)

In [9]:
n = int(input())
x = 2
count = 0
if n<=1:
  count = 1
while x<=n/2:
  if n%x == 0:
    count = 1
    break
  else:
    x+=1
if count == 1:
  print("{} is not prime".format(n))
else:
  print("{} is prime".format(n))

11
11 is prime

PROGRAM 6  LARGEST AMONG N DIGITS

In [10]:
arr = []
n = int(input())
for i in range(n):
  a = int(input())
  arr.append(a)
print(max(arr))

5
12
23
1
10
99
99

PROGRAM 7 SWAP 2 NUMBERS(LOGIC 1)

In [11]:
a=int(input())
b = int(input())
temp = a
a = b
b = temp
print(a,b)

5
10
10 5

PROGRAM 8 SWAP 2 NUMBERS(LOGIC 2 )

In [12]:
a = int(input())
b = int(input())
a,b = b,a
print(a,b)

41
21
21 41

PROGRAM 9 SWAP 2 NUMBERS(LOGIC 3)

In [13]:
a = int(input())
b = int(input())
a = a+b
b = a-b
a = a-b
print(a,b)

5
3
3 5

PROGRAM 10  FIBONACCI SERIES

In [17]:
n = int(input())
a=0
b=1
print(" ",a," ",end="")
for i in range(n):
  c = a+b
  a = b
  b = c
  print(" " ,c,end="")

10
  0    1  2  3  5  8  13  21  34  55  89

PROGRAM 11 PALLINDROME STRING (LOGIC 1)

In [18]:
str = input()
str = str.casefold()
if str == str[::-1]:
  print("pallindrome")
else:
  print("not pallindrome")

Madam
pallindrome

PROGRAM 12 PALLINDROME STRING(LOGIC 2)

In [20]:
s1 = input("Enter String")
s2=""
for i in s1:
  s2 = i+s2
if s1 == s2:
  print("pallindriome")
else:
  print("not pallindrome")

Enter StringMadam
not pallindrome

PROGRAM 13 PALLINDROME NUMBER

In [21]:
n = int(input())
temp = n
rev = 0
while(n>0):
  d= n % 10
  rev = rev*10 + d
  n = n//10
if temp == rev:
  print("Pallindrome")
else:
  print("Not pallindrome")

121
Pallindrome

PROGRAM 13 LEAP YEAR

In [25]:
year = int(input())
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print("Leap Year")
else: 

  print("Not Leap Year")

2000
Leap Year

PROGRAM 14 PASCAL TRIANGLE

In [27]:
def fact(n):
  f=1
  i = 1
  while i<n:
    f=f*i
    i+=1
  return f
n = int(input())
for i in range(n):
  for j in range(i+1):
    print(fact(i)//fact(i-j)*fact(j),end = "")
  print()

6
1
11
111
1224
1361236
141248144576

PROGRAM 15 PERFECT NUMBER

In [ ]:
n = int(input())
i=1
sum=0
while(i<n):
  if n%i== 0:
    sum = sum + i
    i+=1
if sum == n:
  print("Perfect Number")
else:
  print("Not Perfect Number")

PROGRAM 16 ARMSTRONG NUMBER

In [ ]:
r = 0
n = int(input())
t = n
while(n>0):
  a = n%10
  r = r+a*a*a
  n = n//10
if r==t:
  print("Armstrong")
else:
  print("Not Armstrong")